@model IEnumerable<ProductModel>

@if (Model.Any())
{
    <table class="table table-sm">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SellingPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StockBalance)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastStockMovementDate)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SellingPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StockBalance)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastStockMovementDate)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div>No products found</div>
}