<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Smart Store - @ViewData["Title"]</title>

    <link rel="stylesheet" href="~/lib/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/css/open-iconic-bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a id="navHome" asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Smart Store</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        @{
            bool isClient = User.Identity.IsAuthenticated && User.IsInRole("Client");
            bool isAdministrator = User.Identity.IsAuthenticated && User.IsInRole("Admin");
            bool isSuperUser = User.Identity.IsAuthenticated && User.HasClaim("SuperUser", "true");
        }
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                @if (!isAdministrator)
                {
                    <li class="nav-item">
                        <a id="navProducts" asp-area="" asp-controller="Products" asp-action="Index" class="nav-link">Products</a>
                    </li>
                }
                @if (isAdministrator)
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navStock" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Stock
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navStock">
                            <a asp-area="" asp-controller="Stock" asp-action="NewProduct" class="dropdown-item">New Product</a>
                            <a asp-area="" asp-controller="Stock" asp-action="Status" class="dropdown-item">Status</a>
                        </div>
                    </li>
                }
            </ul>
            <div>
                @if (User.Identity.IsAuthenticated)
                {
                    @if (isClient)
                    {
                        <a asp-area="" asp-controller="Cart" asp-action="Index" class="btn btn-sm btn-danger">
                            <span class="oi oi-cart" title="Cart"></span>
                        </a>
                    }
                    @User.Identity.Name;
                    <a asp-area="" asp-controller="Account" asp-action="Details" class="btn btn-sm btn-info">
                        <span class="oi oi-person" title="Account Details"></span>
                    </a>
                    <a asp-area="" asp-controller="Account" asp-action="Logout" class="btn btn-sm btn-danger">
                        Logout<span class="oi oi-account-logout" title="Logout"></span>
                    </a>
                }
                else
                {
                    <a asp-area="" asp-controller="Account" asp-action="Register" class="btn btn-sm btn-primary">
                        Create Account
                    </a>
                    <a asp-area="" asp-controller="Account" asp-action="Login" class="btn btn-sm btn-primary">
                        Login<span class="oi oi-account-login" title="Login"></span>
                    </a>
                }
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @{Html.RenderPartial("_Messages"); }
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - Smart Store</p>
        </footer>
    </div>

    <script src="~/lib/js/jquery.min.js"></script>
    <script src="~/lib/js/popper.min.js"></script>
    <script src="~/lib/js/bootstrap.min.js"></script>
    <script src="~/lib/js/Chart.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            setActiveMenu('@ViewData["ActiveMenu"]');
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
