@model IEnumerable<ProductModel>

@if (Model.Any())
{
    <script>
        var addToCart = function (productId) {
            $.ajax({
                type: "POST",
                url: '/Cart/AddProductToCart',
                data: JSON.stringify({ Id: productId}),
                contentType: "application/json",
                error: (context) => console.log(`Failed to AddProductToCart ${context}`),
                success: (context) => console.log(`Success on AddProductToCart ${context}`)
            });
        };
    </script>
    <div class="row">
        @for (int i = 0; i < Model.Count(); i++)
        {
            ProductModel prod = Model.ElementAt(i);
            bool newRow = (i % 4) == 0;
            @if (newRow)
            {
                @if (i != 0)
                {
                    @:</div>
                }
                    @:<div class="row p-2">
            }
            <div class="col-md-3 col-sm-3 col-xs-12 image-main-section">
                <div class="row img-part">
                    <div class="col-md-12 col-sm-12 colxs-12 img-section">
                        <img src="~/images/dummyImage.png">
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 image-title">
                        <h5>@prod.Name</h5><span>R$ @prod.SellingPrice.ToString("0.00")</span>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 image-description">
                        <p>@prod.Description</p>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <button onclick="addToCart(@prod.Id);" class="btn btn-success btn-sm">
                            <span class="oi oi-plus"></span><span class="oi oi-cart"></span>
                        </button>
                        <a asp-action="Details" asp-route-id="@prod.Id" class="btn btn-primary btn-sm"><span class="oi oi-info"></span></a>
                    </div>
                </div>
            </div>
        }
        @if (Model.Count() > 0)
        {
            @:</div>
        }
    </div>
}
else
{
    <div>No products found</div>
}