@model CartModel
@{
    ViewData["Title"] = "Cart";
    ViewData["ActiveMenu"] = "";
}
<script>
    var evaluateTotals = function () {
        var cartTotal = 0;

        $('.product-row').each(function (index, element) {
            var quantity = $(element).find('.product-quantity').val();
            var price = $(element).find('.product-price').val();
            var total = quantity * price;
            $(element).find('.product-total span').text(total);
            cartTotal += total;
        });

        $('.cart-total').text(cartTotal);
        saveCartToSession();
    };

    var saveCartToSession = function () {
        var formObj = objectifyForm($('form.cart-form'));

        $.ajax({
            type: "POST",
            url: '/Cart/SaveCartToSession',
            data: JSON.stringify(formObj),
            contentType: "application/json",
            //success: (context) => console.log(`Success on SaveCartToSession ${context}`),
            error: (context) => console.log(`Failed to SaveCartToSession ${context}`)
        });
    };

    $(document).ready(function () {
        $('.product-quantity').change(function () {
            evaluateTotals();
        });

        $('.quantity-remove').click(function () {
            var curVal = $(this).parents('.input-group').find('.product-quantity').val();
            if (curVal > 1) {
                curVal--;
                $(this).parents('.input-group').find('.product-quantity').val(curVal).change();
            }
        });

        $('.quantity-add').click(function () {
            var curVal = $(this).parents('.input-group').find('.product-quantity').val();
            curVal++;
            $(this).parents('.input-group').find('.product-quantity').val(curVal).change();
        });

        $('.product-remove').click(function () {
            $(this).parents('.product-row').remove();
            evaluateTotals();
        });

        evaluateTotals();
    });
</script>
<div class="row">
    <div class="col">
        <form method="post" asp-action="Checkout" class="cart-form">
            <div class="row">
                <h3>Your current cart</h3>
                <input asp-for="@Model.Id" type="hidden" />
                <input asp-for="@Model.UnauthenticatedUserId" type="hidden" />
                <input asp-for="@Model.UserId" type="hidden" />
            </div>
            @for (int i = 0; i < Model.CartItems.Length; i++)
            {
                <div class="row product-row">
                    <div class="col">
                        <input asp-for="@Model.CartItems[i].ProductId" type="hidden" />
                        <input asp-for="@Model.CartItems[i].ProductName" type="hidden" />
                        <label>@Model.CartItems[i].ProductName</label>
                    </div>
                    <div class="col">
                        <input class="product-price" asp-for="@Model.CartItems[i].UnitPrice" type="hidden" />
                        <label>R$ @Model.CartItems[i].UnitPrice</label>
                    </div>
                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <button class="quantity-remove btn btn-outline-danger" type="button"><span class="oi oi-minus"></span></button>
                            </div>
                            <input asp-for="@Model.CartItems[i].Quantity" type="text" class="product-quantity form-control">
                            <div class="input-group-append">
                                <button class="quantity-add btn btn-outline-success" type="button"><span class="oi oi-plus"></span></button>
                                <button class="product-remove btn btn-danger" type="button"><span class="oi oi-trash"></span></button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <label class="product-total">R$ <span>0.00</span></label>
                    </div>
                </div>
            }
            <div class="row justify-content-end">
                <div class="col-3">
                    <label>R$ <span class="cart-total">0.00</span></label>
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="col-3">
                    <button class="btn btn-success" type="submit">Check out</button>
                </div>
            </div>
        </form>
    </div>
</div>


